<style>
.mydiv {
    height: 33.3%;
    position: relative;
}

.mydiv:hover {
    opacity: 0.5;
}

.odd-div {
    width: 50%;
    float: left;
}

.even-div {
    width: 50%;
    float: right;
}

.d1 {
    background: url('../img/blue_background.jpg');
    background-size: 100% 100%;
}

.d2 {
    background: url('../img/radio_background.jpg');
    background-size: 100% 100%;
}

.d3 {
    background: url('../img/pink_background.jpg');
    background-size: 100% 100%;
}

.d4 {
    background: url('../img/yellow_background.jpg');
    background-size: 100% 100%;
}

.d5 {
    background: url('../img/yellow_background.jpg');
    background-size: 100% 100%;
}

.d6 {
    background: url('../img/green_background.jpg');
    background-size: 100% 100%;
}

.d7 {
    background: url('../img/dgreen_background.jpg');
    background-size: 100% 100%;
}

.d8 {
    background: url('../img/red_background.jpg');
    background-size: 100% 100%;
}

.down-menu {
    position: absolute;
    bottom: 0%;
    width: 100%;
    float: left;
}

.innericon {
    top: 5%;
    position: inherit;
    width: 100%;
    text-align: center;
}

.mydiv .withbottom {
    top: 2%;
}

#page-content_index {
    padding-top: 0px !important;
}

#radio_link {
    text-decoration: none;
    position: absolute;
    top: 50px;
    right: -380px;
    z-index: 1;
    clear: both;
}

#event_link {
    text-decoration: none;
    position: absolute;
    top: 50px;
    left: 30px;
    z-index: 1;
    clear: both
}

#img_div {
    background-image: url(../img/BG.png)
}

#playBtn.pause {
    background: url('../img/sprite.png') no-repeat -261px -101px;
    width: 118px;
    height: 118px;
    position: absolute;
    bottom: 220px;
    right: 70px;
}

#playBtn.play {
    background: url('../img/sprite.png') no-repeat -129px -101px;
    width: 118px;
    height: 118px;
    position: absolute;
    bottom: 220px;
    right: 200px;
}

#gif {
    background: url('../img/audio.gif');
    width: 100%;
    height: 235px;


}




</style>


<div class="mydiv d3 odd-div"><a href="#/radio">Radio</a></div>
<div class="mydiv d4 even-div"><a href="#/allevents">Events</a></div>
<div class="mydiv d5 odd-div"><a href="#/form">Form Page 1 </a></div>
<div class="mydiv d6 even-div">F</div>
<div class="mydiv d7 odd-div">G</div>
<div class="mydiv d8 even-div">H</div>
